* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    border-right: 1px solid #232323;
    border-bottom: 1px solid #232323;
}

.cell {
    border-top: 1px solid #232323;
    border-left: 1px solid #232323;
    user-select: none;
}